scratch-gui/.git/
scratch-gui/.gitattributes
scratch-gui/.gitignore
scratch-gui/.npmignore
scratch-gui/CHANGELOG.md
scratch-gui/LICENSE
scratch-gui/README.md
scratch-gui/.github/
scratch-gui/node_modules/

scratch-vm/.git/
scratch-vm/.gitattributes
scratch-vm/.gitignore
scratch-vm/.npmignore
scratch-vm/CHANGELOG.md
scratch-vm/LICENSE
scratch-vm/README.md
scratch-vm/.github/
scratch-vm/node_modules/
